.table-container {
  width: 80%;
  margin: 20px auto;
}

.table-container table {
  width: 90%;
}

.table-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: gray;
}

.table th, .table td {
  /* border: 1px solid #ddd; */
  padding: 1px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  text-align: left;
}
  
.table-container {
  display: flex;
  justify-content: center;
  color: black;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.search-input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #aaa;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}